<!DOCTYPE html>

<html>
<head>
	<title>Smash Bros. Melee Overlay Config</title>
	<script src="static/scripts/jquery-3.4.1.min.js"></script>
	<script src="static/scripts/long-press-event.js"></script>

	<script src="static/scripts/auto-scripts.js"></script>
	<script src="static/scripts/startgg-scripts.js"></script>
	<script src="static/scripts/startgg-utils.js"></script>

	<script src="static/scripts/obs-ws.min.js"></script>
	<script src="static/scripts/fontawesome.js"></script>
	<script>
		var bestOfValue = "{{bestOf}}"
		var tournament = "{{tournament}}"
		var apiKey = "{{apiKey}}"
		var obsPort = "{{obsPort}}"
		var obsPassword = "{{obsPassword}}"
	</script>
	<link rel="stylesheet" type="text/css" href="static/css/auto.css">
</head>

<body>
	{{> footer}}
	<div id="header">
		<div id="p1-info-actual" class="info actual">
			<div id="p1-text-actual" class="name-container actual">
				<input type="text" id="p1-name-actual" class="name actual left" value="{{team1.players.[0].name}}" placeholder="Player 1 name" readonly="true">
				<input type="text" id="p1d-name-actual" class="name actual left doubles" value="{{team1.players.[1].name}}" placeholder="Player 2 name" readonly="true">
			</div>
			<img id="p1-character-actual" class="stock-icon actual" src="stock">
			<img id="p1d-character-actual" class="stock-icon actual" src="stock">
			<input id="p1-score-actual" class="score actual" min="0" max="99" value="{{team1.score}}" readonly="true">
		</div>

		<div id="p2-info-actual" class="info actual">
			<input id="p2-score-actual" class="score actual" min="0" max="99" value="{{team2.score}}" readonly="true">
			<img id="p2-character-actual" class="stock-icon actual" src="stock">
			<img id="p2d-character-actual" class="stock-icon actual" src="stock">
			<div id="p2-text-actual" class="name-container actual">
				<input type="text" id="p2-name-actual" class="name actual right" value="{{team2.players.[0].name}}" placeholder="Player 1 name" readonly="true">
				<input type="text" id="p2d-name-actual" class="name actual right doubles" value="{{team2.players.[1].name}}" placeholder="Player 2 name" readonly="true">
			</div>
		</div>
		<div id="data-actual" class="data">
			<input type="text" id="round-actual" class="data-text actual" value="{{round}}" placeholder="Round" readonly="true">
			<input id="best-of-actual" class="data-text actual" best-of="{{bestOf}}" value="Best of {{bestOf}}" readonly="true">
		</div>
	</div>
	<div id="main">
		<div id="left-wrapper">
			<div id="p1-info-change" class="info change left">
				<button type="button" id="team1-swap" class="swap" onclick="swapTeam(1)"><i class="fa-solid fa-arrows-up-down"></i></button>
				<div id="p1-pronouns-wrapper" class="pronouns wrapper change">
					<input type="text" id="p1-pronouns" class="pronouns change left" value="{{team1.players.[0].pronouns}}" placeholder="Pronouns">
					<input type="text" id="p1d-pronouns" class="pronouns change left doubles" value="{{team1.players.[1].pronouns}}" placeholder="Pronouns">
				</div>
				<div id="p1-text-change" class="name-container change">
					<input type="text" id="p1-name" class="name change left" value="{{team1.players.[0].name}}" placeholder="Player 1 name">
					<input type="text" id="p1d-name" class="name change left doubles" value="{{team1.players.[1].name}}" placeholder="Player 2 name">
				</div>
				<img id="p1-character-change" class="csp actual" src="csp">
				<img id="p1d-character-change" class="csp actual" src="csp">
				<div class="column">
					<input type="number" id="p1-score-change" class="score change left" min="0" max="99" value="{{team1.score}}">
					<input type="text" id="p1-entrant" class="startgg display id" value="{{team1.startggEntrant}}" placeholder="start.gg Entrant">
				</div>
			</div>

			<div id="middle-row" class="row">
				<button type="button" class="swap-sides" onclick="swapSides()">Swap <i class="fa-solid fa-arrows-up-down"></i></button>
			</div>

			<div id="p2-info-change" class="info change right">
				<button type="button" id="team2-swap" class="swap" onclick="swapTeam(2)"><i class="fa-solid fa-arrows-up-down"></i></button>
				<div id="p2-pronouns-wrapper" class="pronouns wrapper change">
					<input type="text" id="p2-pronouns" class="pronouns change right" value="{{team2.players.[0].pronouns}}" placeholder="Pronouns">
					<input type="text" id="p2d-pronouns" class="pronouns change right doubles" value="{{team2.players.[1].pronouns}}" placeholder="Pronouns">
				</div>
				<div id="p2-text-change" class="name-container change">
					<input type="text" id="p2-name" class="name change right" value="{{team2.players.[0].name}}" placeholder="Player 1 name">
					<input type="text" id="p2d-name" class="name change right doubles" value="{{team2.players.[1].name}}" placeholder="Player 2 name">
				</div>
				<img id="p2-character-change" class="csp actual" src="csp">
				<img id="p2d-character-change" class="csp actual" src="csp">
				<div class="column">
					<input type="number" id="p2-score-change" class="score change right" min="0" max="99" value="{{team2.score}}">
					<input type="text" id="p2-entrant" class="startgg display id" value="{{team2.startggEntrant}}" placeholder="start.gg Entrant">
				</div>
			</div>

			<div id="data-wrapper" class="row">
				<input type="text" id="tournament-change" value="{{tournament}}" placeholder="Tournament">
				<div class="column">
					<input type="text" id="round-change" value="{{round}}" placeholder="Round">
					<input type="text" id="set-id" class="startgg display setid" value="{{setId}}" placeholder="start.gg Set ID">
				</div>
				<button type="button" class="best-of" id="bo3" onclick="changeBestOf(3)">Best of 3</button>
				<button type="button" class="best-of" id="bo5" onclick="changeBestOf(5)">Best of 5</button>
				<button type="button" class="toggle-doubles" onclick="toggleDoubles()" value="{{isDoubles}}"></button>
				<button type="button" class="update" onclick="update()">Update <i class="fa fa-sync"></i></button>
			</div>

			<div id="startgg-wrapper" class="row">
				<img class="icon" id="startgg-icon" src="static/img/startgg.svg" alt="SGG"/>
				<input type="text" id="tournament-slug" class="startgg tournament input" placeholder="startgg slug">
				<button type="button" id="tournament-slug-submit" class="startgg bottom button" onclick="getTournamentEvents()">Submit</button>
				<select class="startgg input c" id="events" onchange="getEventPhases()"></select>
				<select class="startgg input c" id="phases" onchange="getPhaseGroups()"></select>
				<select class="startgg input c" id="phase-groups" onchange="showGetSets()"></select>
				<button type="button" id="get-sets" class="startgg bottom button" onclick="getSets()">Get sets</button>
			</div>

			<div id="obs-wrapper" class="row">
				<img class="icon" id="startgg-icon" src="static/img/obs.svg" alt="OBS"/>
				<button type="button" id="ffmpeg-record" onclick="recordSet(0)">Record</button>
				<button type="button" id="ffmpeg-clip" onclick="clip()">Clip</button>
				<div id="scene-box">
					<select id="scenes"></select>
					<div>
						<button id="update-scene" class="scene" onclick="updateScene()">Change Scene</button>
					</div>
				</div>
			</div>

			<div id="load-tournament-data" class="row">
				<div class="column" id="tournament-wrapper">
					<select id="tournament-data" tournament="" onchange="getTournamentSet()"></select>
					<button type="button" id="set-update" onclick="updateSet()">Submit timestamps</button>
				</div>
				<div class="screenshot-container" id="screenshot-container-1">
					<img class="screenshot" id="screenshot-1" src="">
					<div class="timecode-wrapper" id="timecode-wrapper-1">
						<input type="text" id="timecode-1" class="timecode input" placeholder="Start timecode">
						<button	id="timecode-1-update" class="timecode button" onclick="updateTimecode(1)">Update</button>
					</div>
				</div>
				<div class="screenshot-container" id="screenshot-container-2">
					<img class="screenshot" id="screenshot-2" src="">
					<div class="timecode-wrapper" id="timecode-wrapper-2">
						<input type="text" id="timecode-2" class="timecode input" placeholder="End timecode">
						<button	id="timecode-2-update" class="timecode button" onclick="updateTimecode(2)">Update</button>
					</div>
				</div>
				<div id="display-set-results">
				</div>
			</div>

		</div>
		<div id="right-wrapper">
			<div id="pages">
				<button	id="page-left" class="page-button" onclick="showSets(false)"><i class="fa-solid fa-arrow-left"></i></button>
				<button	id="page-right" class="page-button" onclick="showSets(true)"><i class="fa-solid fa-arrow-right"></i></button>
			</div>
			<div id="set1" class="set">
				<div id="set1-wrapperL" class="set wrapper left">
					<label id="set1-name1" class="startgg name left"></label>
					<label id="set1-vs" class="startgg name vs">vs</label>
					<label id="set1-name2" class="startgg name right"></label>
				</div>
				<div id="set1-wrapperR" class="set wrapper right">
					<label id="set1-round" class="startgg round"></label>
					<button	id="set-button" class="startgg button load" onclick="loadSet(1)">Load</button>
				</div>

			</div>
			<div id="set2" class="set">
				<div id="set2-wrapperL" class="set wrapper left">
					<label id="set2-name1" class="startgg name left"></label>
					<label id="set2-vs" class="startgg name vs">vs</label>
					<label id="set2-name2" class="startgg name right"></label>
				</div>
				<div id="set2-wrapperR" class="set wrapper right">
					<label id="set2-round" class="startgg round"></label>
					<button	id="set2-button" class="startgg button load" onclick="loadSet(2)">Load</button>
				</div>
			</div>
			<div id="set3" class="set">
				<div id="set3-wrapperL" class="set wrapper left">
					<label id="set3-name1" class="startgg name left"></label>
					<label id="set3-vs" class="startgg name vs">vs</label>
					<label id="set3-name2" class="startgg name right"></label>
				</div>
				<div id="set3-wrapperR" class="set wrapper right">
					<label id="set3-round" class="startgg round"></label>
					<button	id="set3-button" class="startgg button load" onclick="loadSet(3)">Load</button>
				</div>
			</div>
			<div id="set4" class="set">
				<div id="set4-wrapperL" class="set wrapper left">
					<label id="set4-name1" class="startgg name left"></label>
					<label id="set4-vs" class="startgg name vs">vs</label>
					<label id="set4-name2" class="startgg name right"></label>
				</div>
				<div id="set4-wrapperR" class="set wrapper right">
					<label id="set4-round" class="startgg round"></label>
					<button	id="set4-button" class="startgg button load" onclick="loadSet(4)">Load</button>
				</div>
			</div>
			<div id="set5" class="set">
				<div id="set5-wrapperL" class="set wrapper left">
					<label id="set5-name1" class="startgg name left"></label>
					<label id="set5-vs" class="startgg name vs">vs</label>
					<label id="set5-name2" class="startgg name right"></label>
				</div>
				<div id="set5-wrapperR" class="set wrapper right">
					<label id="set5-round" class="startgg round"></label>
					<button	id="set5-button" class="startgg button load" onclick="loadSet(5)">Load</button>
				</div>
			</div>
		</div>
	</div>
</body>