<!DOCTYPE html>

<html>
<head>
	<title>Smash Bros. Melee Overlay Config</title>
	<script src="static/scripts/jquery-3.4.1.min.js"></script>
	<script src="static/scripts/friendlies-scripts.js"></script>
	<script src="static/scripts/obs-ws.min.js"></script>

	<script src="scripts/fontawesome.min.js"></script>
	<script src="scripts/solid.min.js"></script>
	<script src="scripts/brands.min.js"></script>
	
	<script>
		var best_of_value = "{{best_of}}"
		var api_key = "{{api_key}}"
		var obs_port = "{{obs_port}}"
		var obs_password = "{{obs_password}}"
	</script>
	<link rel="stylesheet" type="text/css" href="static/css/friendlies.css">
	<link rel="icon" href="static/favicon.ico">
</head>

<body>
	{{> footer}}
	<div id="left_wrapper">
		<div id="row1" class="row">
			<div id="p1_info_actual" class="info actual">
				<div id="p1_text_actual" class="name_container actual">
					<input type="text" id="p1_name_actual" class="name actual left" value="{{Player1.name}}" placeholder="Player 1 name" readonly="true">
				</div>
				<img id="p1_character_actual" class="stock_icon actual" src="static/img/stock_icons/{{Player1.character}}/{{Player1.colour}}.png">
				<input id="p1_port_actual" class="port actual" min="1" max="4" value="1" readonly="true">
			</div>

			<div id="p2_info_actual" class="info actual">
				<input id="p2_port_actual" class="port actual" min="1" max="4" value="2" onchange="onPortChange()" readonly="true">
				<img id="p2_character_actual" class="stock_icon actual" src="static/img/stock_icons/{{Player2.character}}/{{Player2.colour}}.png">
				<div id="p2_text_actual" class="name_container actual">
					<input type="text" id="p2_name_actual" class="name actual right" value="{{Player2.name}}" placeholder="Player 2 name" readonly="true">
				</div>
			</div>
		</div>
		
		<div id="row2" class="row">
			<div id="p1_info_change" class="info change">
				<div id="p1_pronouns_change" class="pronouns_container change">
					<input type="text" id="p1_pronouns" class="pronouns change left" value="{{Player1.pronouns}}" placeholder="Pronouns">
				</div>
				<div id="p1_text_change" class="name_container change">
					<input type="text" id="p1_name" class="name change left" value="{{Player1.name}}" placeholder="Player 1 name">
				</div>
				<img id="p1_character_change" class="csp actual" src="static/img/csp_icons/{{Player1.character}}/{{Player1.colour}}.png">
				<div id="p1_port" class="port">P1</div>
			</div>
		</div>

		<div id="row3" class="row">
			<button type="button" class="swap_sides" onclick="swap_p1_p2()">Swap <i class="fa-solid fa-arrows-up-down"></i></button>
		</div>

		<div id="row4" class="row">
			<div id="p2_info_change" class="info change">
				<div id="p2_pronouns_change" class="pronouns_container change">
					<input type="text" id="p2_pronouns" class="pronouns change right" value="{{Player2.pronouns}}" placeholder="Pronouns">
				</div>
				<div id="p2_text_change" class="name_container change">
					<input type="text" id="p2_name" class="name change right" value="{{Player2.name}}" placeholder="Player 2 name">
				</div>
				<img id="p2_character_change" class="csp actual" src="static/img/csp_icons/{{Player2.character}}/{{Player2.colour}}.png">
				<div id="p2_port" class="port">P2</div>
			</div>
		</div>

		<div id="row5" class="row">
			<button type="button" class="swap_sides" onclick="swap_p2_p3()">Swap <i class="fa-solid fa-arrows-up-down"></i></button>
		</div>

		<div id="row6" class="row">
			<div id="p3_info_change" class="info change">
				<div id="p3_pronouns_change" class="pronouns_container change">
					<input type="text" id="p3_pronouns" class="pronouns change right" value="{{Player3.pronouns}}" placeholder="Pronouns">
				</div>
				<div id="p3_text_change" class="name_container change">
					<input type="text" id="p3_name" class="name change right" value="{{Player3.name}}" placeholder="Player 3 name">
				</div>
				<img id="p3_character_change" class="csp actual" src="static/img/csp_icons/{{Player3.character}}/{{Player3.colour}}.png">
				<div id="p3_port" class="port">P3</div>
			</div>
		</div>

		<div id="row7" class="row">
			<button type="button" class="swap_sides" onclick="swap_p3_p4()">Swap <i class="fa-solid fa-arrows-up-down"></i></button>
		</div>

		<div id="row8" class="row">
			<div id="p4_info_change" class="info change">
				<div id="p4_pronouns_change" class="pronouns_container change">
					<input type="text" id="p4_pronouns" class="pronouns change right" value="{{Player4.pronouns}}" placeholder="Pronouns">
				</div>
				<div id="p4_text_change" class="name_container change">
					<input type="text" id="p4_name" class="name change right" value="{{Player4.name}}" placeholder="Player 4 name">
				</div>
				<img id="p4_character_change" class="csp actual" src="static/img/csp_icons/{{Player4.character}}/{{Player4.colour}}.png">
				<div id="p4_port" class="port">P4</div>
			</div>
		</div>

		<div id="row9" class="row">
			<input type="text" id="round_change" value="{{round}}" placeholder="Round">
			<button type="button" class="toggle_doubles" onclick="toggle_doubles()" value="{{is_doubles}}"></button>
			<div id="scene_box">
				<select id="scenes"></select>
				<div>
					<button id="update_scene" class="scene" onclick="update_scene()">Change Scene</button>
				</div>
			</div>
			<button type="button" class="update" onclick="update()">Update <i class="fa fa-sync"></i></button>
		</div>
	</div>
</body>